# File: azure-pipelines.yml
name: $(Build.BuildId)_$(Build.DefinitionName)_$(Build.SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
resources:
  repositories:
    - repository: self
      type: git
      ref: refs/heads/$(Build.SourceBranchName)
    - repository: Infra
      type: git
      name: IAC/Infra
      ref: main

trigger:
  - development
  - staging
  - devstage
  - production
  
variables:
  ${{ if eq(variables['Build.SourceBranchName'], 'development') }}:
    DockerBuildArgs: $(DockerBuildArgsDev)
  ${{ if eq(variables['Build.SourceBranchName'], 'staging') }}:
    DockerBuildArgs: $(DockerBuildArgsStg)
  ${{ if eq(variables['Build.SourceBranchName'], 'devstage') }}:
    DockerBuildArgs: $(DockerBuildArgsDevStage)
  ${{ if eq(variables['Build.SourceBranchName'], 'production') }}:
    DockerBuildArgsMasked: $(DockerBuildArgsProd)
    
stages:
  - stage: Development
    variables:
      ${{ if eq(variables['Build.SourceBranchName'], 'production') }}:
        ReleaseNameLower: "fdx-backofficereactweb"
      ${{ if ne(variables['Build.SourceBranchName'], 'production') }}:
        ReleaseNameLower: "agnoverse-backofficereactweb"
      DockerFile: "**/Dockerfile"
    jobs:
      - template: CICD/azure-pipeline.yml@Infra