@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #1c244f;
    --border: #dbdde0;
  }
}

@layer base {
  :root[class~="dark"] {
    --foreground: white;
    --border: white;
  }

  * {
    @apply border-border;
  }

  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  :root {
    --font-sans: "Plus Jakarta Sans", sans-serif;

    --leading-11: "2.75rem";
    --leading-12: "3rem";
    --leading-13: "3.25rem";
    --leading-14: "3.5rem";
  }
}

@layer utilities {
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f6f6f6;
  }

  ::-webkit-scrollbar-thumb {
    background: #a3d4a3;
    border-radius: 100vh;
    border: 2px solid #f6f6f6;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4d8b4d;
  }
}

body {
  font-family: "Inter", sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
}

textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
}
